<div id="subObject">

	<!-- table headings -->
	<div class="container">
		<div class="row" style="padding: 0.5em 0em">
			<span class="col-sm-2 col-md-3" id="pPlanMachine_{{forloop.counter}}" style="font-weight: bold;">Description</span>
			<span class="col-sm-3 col-md-4" id="dateIssued_{{forloop.counter}}">{{object.rdProject.subject}}</span>
		</div>	
		<div class="row" style="padding: 0.5em 0em">
			<span class="col-sm-2 col-md-3" id="pPlanMachine_{{forloop.counter}}" style="font-weight: bold;">Customer</span>
			<span class="col-sm-3 col-md-4" id="dateLoaded_{{forloop.counter}}">{{object.rdProject.customer}}</span>
		</div>	
		<div class="row" style="padding: 0.5em 0em">
			<span class="col-sm-2 col-md-3" id="pPlanMachine_{{forloop.counter}}" style="font-weight: bold;">Instructions</span>
			<span class="col-sm-3 col-md-4" id="datePremixPass_{{forloop.counter}}">{{object.rdProject.instructions}}</span>
		</div>	
	</div>
</div>	
