<div style="padding: 1em 0em;">
	<div class="row my-auto">
		<span class="col my-auto" style="display: inline-block; margin-left: 1em !important;" >Are you sure you want to delete <span style="font-style: italic;">"{{maintenanceIssue.subject}}"</span>?</span>
		<span class="my-auto dropToggle" id="deleteYes" href="{% url 'production:delete_MaintenanceIssue' maintenanceIssue.id %}" style="display: inline-block;" ajaxStatus="deleteMaintenanceIssueForm">
			<i class="fas fa-check fa-sm dropToggle" style="color: red;"></i>
		</span>
	</div>
</div>