<div style="padding: 1em 0em; margin-bottom: 1em;">
	<div class="row my-auto">
		<span class="col my-auto" style="display: inline-block; margin-left: 1em !important;" >Are you sure you want to delete <span style="font-style: italic;">"{{ usernote.taskNote }}"</span>?</span> 
		<span class="my-auto dropToggle" id="deleteYes" href="{% url 'home:delete_UserNote' usernote.id %}" style="display: inline-block;" ajaxStatus="deleteUserNote">
			<i class="fas fa-check fa-sm" style="color: #FF5252;"></i>
		</span>
	</div>
</div>