{% for usernote in UserToDo.getUserNotes %}
<div id="userNote" style="margin-top: 4px !important;">
	<div class="card-header" id="userNoteHeading" style=" background-color: #E3F2FD;">
			<div class="row">
				{% if usernote.noteProgress == "In Progress" %}
				<span class="col-1 col-sm-1 dropToggle my-auto" style="color: red;"><i class="fas fa-times fa-sm"></i></span>
				{% else %}
				<span class="col-1 col-sm-1 dropToggle my-auto" style="color: #33691E;"><i class="fas fa-check fa-sm"></i></span>
				{% endif %}
				<span class="col-8 col-sm-9 col-md-8 my-auto" style="font-weight: bold;"><span class="dropToggle" id="userNote_subject" data-target="#userNote_{{ usernote.id }}" data-toggle="collapse">{{usernote.taskNote}}</span></span>
				<div class="col-2 col-sm-2 col-md-2 float-right" style="padding: 0 !important;">
					<span class="my-auto dropToggle float-right" data-target="#editUserNote_{{ UserToDo.id }}" id="editUserNote_Toggle"><a id='edit' data-location="{% url 'home:edit_UserNote' usernote.id %}"  data-toggle="collapse" data-target="#editUserNote_{{ usernote.id }}"><i class="fas fa-edit fa-sm"></i></a></span>
					<span class="my-auto dropToggle float-right" style="padding-right: 1em;" id="deleteUserNote_Toggle"><a data-toggle="collapse" data-target="#deleteUserNote_{{ usernote.id }}" id='delete'><i class="fas fa-trash-alt fa-sm"></i></a></span>
				</div>
			</div>
	</div>
	<div class="collapse" id="deleteUserNote_{{ usernote.id }}">
		<div class="bg-secondary text-white">
		{% include 'home/includes/deleteUserNoteForm.html' %}
		</div>	
	</div>
	<div class="collapse" id="editUserNote_{{ usernote.id }}">
		<div class="bg-secondary text-white">
			<div class="padding-2em-all">
					<form class='editObjectForm' method='POST' action='.' data-url="{% url 'home:edit_UserNote' usernote.id %}" ajaxStatus="editUserNoteForm" style="width: 100% !important;">			
					{% include 'home/includes/editUserNoteForm.html' %}	
					</form>									
			</div>
		</div>
	</div>

	

	<div class="collapse" id="userNote_{{ usernote.id }}">
		<div class="card-body bg-light" id="subObject">
			<div class="col-sm-12 dropToggle" id="addNoteDescription_Toggle" data-target="#addNoteDescription_{{ usernote.id }}" data-toggle="collapse" style="padding: 0.5em 0em;"><i class="fas fa-plus fa-sm" style="margin-left: 1em;"></i><span style="padding-left: 1em;">Insert a note</span>
			</div>
			<div class="collapse" id="addNoteDescription_{{ usernote.id }}">
				<div class="bg-secondary text-white">
					<div class="padding-2em-lr">	
						<form class='my-ajax-form' method='POST' action='.' data-url="{% url 'home:index' %}" ajaxStatus="addNoteDescriptionForm" userNote="{{ usernote.id }}" style="width: 100% !important;">
							{% include 'home/includes/addNoteDesciptionForm.html' %}
						</form>									
					</div>
				</div>		
			</div>

			{% for noteDescription in usernote.getNoteDescriptions %}
			<div id="noteDescription">
				<div class="noteDescription padding-1em-tb" style="border-top: 1px #90CAF9 solid !important;">
					<div class="row" style="padding-left: 1em;">
						{% if noteDescription.noteDescriptionProgress == "In Progress" %}
						<span class="col-1 col-sm-1 my-auto" style="color: red;"><i class="fas fa-times fa-sm"></i></span>
						{% else %}
						<span class="col-1 col-sm-1 my-auto" style="color: #00C853;"><i class="fas fa-check fa-sm"></i></span>
						{% endif %}
						<span class="col-8 col-sm-9 col-md-7 my-auto" id="noteDescription_{{forloop.counter}}">{{ noteDescription }}</span>
						<div class="col-2 col-sm-2 col-md-2 my-auto" style="padding: 0 !important;">
							<span class="my-auto dropToggle float-right" style="font-weight: bold;" id="editNoteDescription_Toggle"><a id='edit' data-location="{% url 'home:edit_NoteDescription' noteDescription.id %}"  data-toggle="collapse" data-target="#EditNoteDecription_{{ noteDescription.id }}"><i class="fas fa-edit fa-sm"></i></a></span>
							<span class="my-auto dropToggle float-right" data-toggle="collapse" data-target="#deleteNoteDescription_{{ noteDescription.id }}" style="font-weight: bold; padding-right: 1em;" id="deleteNoteDescription_Toggle"><a id='delete'><i class="fas fa-trash fa-sm"></i></a></span>
						</div>
					</div>

				</div>
				<div class="collapse" id="deleteNoteDescription_{{ noteDescription.id }}">
					<div class="bg-secondary text-light">
						{% include 'home/includes/deleteNoteDescriptionForm.html' %}
					</div>
				</div>
				<div class="collapse" id="EditNoteDecription_{{ noteDescription.id }}">
					<div class="bg-secondary text-white">
						<div class="form">
							<form class='editObjectForm' method='POST' action='.' data-url="{% url 'home:edit_NoteDescription' noteDescription.id %}" ajaxStatus="editNoteDescriptionForm" style="width: 100% !important;">
								{% include 'home/includes/editNoteDescriptionForm.html' %}	
							</form>									
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}